<div class="eqLogic-widget eqLogic allowResize #class#" style="width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" data-version="#version#" >
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <a class="action" style="cursor: pointer;"><i class="fas fa-sync"></i></a>
  </span>
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;">#eqLogic_name#<span class="object_name">#object_name#</span></a></center>
  <script>
		$('.refresh[data-cmd_id=#refresh_id#] .action').on('click', function() {
			jeedom.cmd.execute({id: '#refresh_id#'});
		});
	</script>
  <div class="#isVerticalAlign#">
    <center>
      <div class="cmd cmd-widget" style="background-image:url(plugins/RteSync/desktop/images/#imageJ0#);background-size:cover;height:130px;width:190px;margin-bottom:5px;">
        <div style="font-weight : bold; color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;">Aujourd'hui (#dateJ0#)</div>
        <div style="font-weight : bold; color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;">#infoJ0#</div>
        <br />
      </div>
        <div class="cmd cmd-widget" style="background-image:url(plugins/RteSync/desktop/images/#imageJ1#);background-size:cover;height:130px;width:190px;margin-bottom:5px;">
        <div style="color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;font-size:0.9em;">Demain (#dateJ1#)</div>
        <div style="color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;font-size:0.9em;">#infoJ1#</div>
        <br />
      </div>
        <div class="cmd cmd-widget" style="background-image:url(plugins/RteSync/desktop/images/#imageJ2#);background-size:cover;height:130px;width:190px;margin-bottom:5px;">
        <div style="color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;font-size:0.9em;">#jourJ2# #dateJ2#</div>
        <div style="color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;font-size:0.9em;">#infoJ2#</div>
        <br />
      </div>
        <div class="cmd cmd-widget" style="background-image:url(plugins/RteSync/desktop/images/#imageJ3#);background-size:cover;height:130px;width:190px;margin-bottom:5px;">
        <div style="color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;font-size:0.9em;">#jourJ3# #dateJ3#</div>
        <div style="color:#fff;Cursor:default;position:relative;width:190px;top:60px;text-align:center;font-size:0.9em;">#infoJ3#</div>
        <br />
      </div>
    </center>
  </div>
</div>
