<div class="eqLogic-widget eqLogic allowResize #class#" style="width: #width#;height: #height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" data-version="#version#" >
  <span class="statusCmd"></span>
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;">#eqLogic_name#<span class="object_name">#object_name#</span></a></center>
  <div class="#isVerticalAlign#">
    <center>
      L'information n'est pas disponible. Merci de vérifier la configuration de l'équipement.
    </center>
  </div>
</div>
